<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>@ViewBag.Error</h2>
    </hgroup>

    <img src="https://diginomica.com/sites/default/files/images/2013-09/Fotolia_55069588_Subscription_Monthly_M.jpg"  style="width:400px; border-radius:10px 10px 10px 10px; margin-left:500px" />
</body>
</html>
