@model MVC_project.Models.Login
@using MVC_project.Models;

@{
    void logout()
    {
        Session["UserName"] = null;
        Session["Password"] = null;
        Session["Type"] = null;
        Session["FirstName"] = null;
        Session["LastName"] = null;
        Session["_id"] = null;
    }
}
<div class="jumbotron">
    @try
    {
        logout();
    }
    catch
    {

    }

    <h1>SCE - Software Department</h1>
    <p>
        welcome to SCE software department site!<br />
        please Login.

    </p>


    <form action="Login/LoginPressed" method="post">
      
        <label>User Name:</label> @Html.TextBoxFor(Model => Model.UserName, new { Class = "loginfield"})
        <br />
        <section style="color:red">
            @Html.ValidationMessageFor(x => x.UserName)
        </section>
        <label>Password:</label> @Html.TextBoxFor(Model => Model.Password, new { Class = "loginfield", Style = "margin-left:16px", type="password" })
        <br />
        <section style="color:red">
            @Html.ValidationMessageFor(x => x.Password)
        </section>
        <br />

        <input class="btn btn-primary btn-lg" style="margin:10px ; padding:10px; width: 100px" id="Login" type="submit" value="Login" />


    </form>



    <img src="https://ak0.picdn.net/shutterstock/videos/4507700/thumb/6.jpg" style="border-radius: 50% 50% 50% 50%; margin-left:275px; margin-top:-200px; width:75%" />


</div>
<ul></ul>


